{:paths ["src" "resources"]
 :deps
 {com.lambdaisland/cli    {:mvn/version "0.24.97"}

  ;; Logging
  com.lambdaisland/log4j2 {:mvn/version "0.2.6"}

  ;; HTTP
  ring/ring-jetty-adapter     {:mvn/version "1.14.2"}
  metosin/reitit-ring         {:mvn/version "0.9.1"}
  metosin/reitit-middleware   {:mvn/version "0.9.1"}
  metosin/muuntaja            {:mvn/version "0.6.11"}
  fi.metosin/muuntaja-charred {:mvn/version "0.6.11"}
  metosin/reitit-malli        {:mvn/version "0.9.1"}

  ;; Formats and utilities
  com.cnuernber/charred {:mvn/version "1.037"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}

  :example
  {:extra-paths ["examples"]
   :extra-deps {clj-http/clj-http {:mvn/version "3.13.1"}
                org.clojure/data.json {:mvn/version "2.5.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/tools.gitlibs {:mvn/version "2.6.206"}
                 lambdaisland/kaocha       {:mvn/version "1.91.1392"}}}}}
